<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/yale.svg"> -->
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <!-- <p class="site-description">{{ site.description }}</p>  -->
            </div>

<!--             <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/getting-started">Getting Started</a>
              <a href="{{ site.baseurl }}/search">Search</a>
              <a href="{{ site.baseurl }}/about">About</a>
            </nav>
 -->          </header>
        </div>
      </div>



      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ site.description }}
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
        <h2> People </h2>
          <b>Faculty</b> - 
          
          {% for faculty in site.faculty %}
            <a href={{ faculty.website }}>{{ faculty.name }}</a>
          {% endfor %}
          <br>

          <b>Postdocs</b> - 
          
          {% for postdoc in site.postdoc %}
            <a href={{ postdoc.website }}>{{ postdoc.name }}</a>
          {% endfor %}
          <br>

          <b>PhD students</b> - 
          
          {% for phd in site.phd %}
            <a href={{ phd.website }}>{{ phd.name }}</a>
          {% endfor %}
          <br>

          <b>Undergraduate students</b> - 
          
          {% for undergrad in site.undergrad %}
            <a href={{ undergrad.website }}>{{ undergrad.name }}</a>
          {% endfor %}
          <br>

          <b>Alumni</b> - {{ site.alumni }} <br>
        </div>
      </div>


      <div class="wrapper-main">
        <div id="main" role="main" class="container">
        <h2> Demos</h2>
          <!-- <img src="images/polarization.png" height="64" width="64"/> -->



          {% for demo in site.demos %}
          <div style='width:100%; height:auto;'>
                  <div>
                      <a href={{ demo.website }}>
                        <img src={{ demo.image }} class='iconDetails' style='margin-left:2%; float:left; height:64px; width:64px;'>
                      </a>
                  </div>  
              <div style='margin-left:100px;'>
              <b> {{ demo.title }} </b><br>
              <div style='font-size:16px'>{{ demo.description }}</div>
              <div ></div>
              </div>
          </div>

          <br>

          {% endfor %}

        </div>
      </div>



      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          <h2> Papers </h2>
          {{ content }}

          <div style="margin-bottom:3cm;">       
          <h2> Related Content</h2>
          <ul>
            <li><a href="https://computationsociety.yale.edu/">Computation and Society Initiative</a></li>
            <li><a href="https://nisheethvishnoi.wordpress.com/">Algorithms, Nature and Society</a></li>
            <li><a href="https://datascienceethics.org/">Data Science Ethics</a></li>
          </ul> 
        </div>

        </div>
      </div>


      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

  </body>
</html>
